@import "custom";

/* Template Base main */
body {
  margin: 0 auto;
}

header {
  height: $header-height;
  padding: 0;
}

nav {
  height: 100%;
}

.brand-logo {
  height: $header-height - 2vh;
  width: auto;
  margin-left: 1vw;
}

main {
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-height: 100vh;
}

.canvasWrap {
  position: relative;
  width: 100%;
}

.canvas {
  width: 100%;
  height: 200vh;
  background-color: transparent;
  position: absolute;
  z-index: 1;
}

#heroContainer {
  padding: 0;
  margin: 0;
  min-height: calc(100vh - $header-height);
  height: fit-content;
  position: relative;
  overflow-x: hidden;
}

.heroBgContainer {
  position: absolute;
  padding: 0;
  height: 100%;
  width: auto;
  z-index: -1;
}


//#heroContainer::before {
//  content: '';
//  background-image: var(--currentHeroBg);
//  visibility: hidden;
//  filter: blur(5px);
//}

.actualHeroBg {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: $primary;
  mask-position: center;
  mask-size: cover;
  z-index: 0;
}

#heroBgVideo {
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  mask-position: center;
  mask-size: cover;
}

.actualHeroBg, #heroContainer::before {
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //width: calc(100vw + 50vh);
  //height: calc(100vw + 50vh);
  //background-size: cover;
  //background-position: center;
  //z-index: -1;
  //transform: translate(-50%, -50%) rotate(0);
  //animation: 360s rotate infinite linear;
  //animation-play-state: var(--animationState);
}

#leftContainer, #rightContainer, #midContainer {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#leftContainer {

}

#midContainer {

}

.contentBannerBox {
  height: fit-content;
  min-height: 80%;
  width: 80%;
  padding: 0 2vw;
  background-color: $primary-alpha;
  border: solid 2px rgba(45, 45, 154, 0.18);
  border-radius: 20px;
  margin: 4vh 0;
}

#rightContainer .contentBannerBox {
  background-color: transparent;
  border: none;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.heroTitle {
  padding: 5% 10% 0 10%;
}

.heroBioContainer {
  padding: 0 10% 5% 10%;
}

.heroBioText {
  text-align: justify;
  text-justify: auto;
}

.socialsContainer {
  gap: 10px;
}

.fa {
  font-size: 1.5em;
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: $primary;
  z-index: 10;
}

.fa:link, .fa:visited {
  text-decoration: none;
}

#cvBouton {
  width: 30px;
  height: 30px;
  background-color: $link-color;
}

.cvConteneur span {
  color: $primary;
  font-size: 1rem;
  font-family: "Reem Kufi", Arial, sans-serif;
}

.cvConteneur {
  background-color: $link-color;
  border-radius: 50px;
  width: fit-content;
  display: flex;
  padding: 0 2vw;
  justify-content: space-evenly;
  gap: 2vh;
  align-items: center;
  height: 35px;
}

.cvConteneur:hover {
  opacity: 0.7;
}

.itemKanji {
  font-size: 5rem;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}


@-webkit-keyframes glow {
  0% {
    text-shadow:
            0 0 0 rgba(0, 0, 255, 0.5),
            0 0 5px rgba(0, 0, 255, 0.7),
            0 0 10px rgba(0, 0, 255, 0.9);
  }
  50% {
    text-shadow:
            0 0 5px rgba(0, 0, 255, 0.7),
            0 0 10px rgba(0, 0, 255, 0.9),
            0 0 15px rgba(0, 0, 255, 1);
  }
  100% {
    text-shadow:
            0 0 10px rgba(0, 0, 255, 0.5),
            0 0 5px rgba(0, 0, 255, 0.7),
            0 0 0 rgba(0, 0, 255, 0.9);
  }
}

.kanjiContainer {
  padding: 2vh 1vw;
  border-radius: 10px;
  height: fit-content;
  background-color: $primary-alpha;
}

