/* Variables */
@import "custom";

@font-face {
  font-family: "DancetechBold";
  src: url("../fonts/DancetechBold-3rj8.ttf") format("truetype");
}

h1.pageTitle {
  text-align: center;
  padding-bottom: 2vh;
}

.codeLang {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 70px;
  width: 100%;
}
img.codeLogo {
  height: 50px;
  object-fit: contain;
}

h2.cardTitle {
  font-family: "DancetechBold", Arial, sans-serif;
  font-size: 3rem;
}

.carte:hover {
  background-color: $link-color;
  transition: 1s ease-in-out;
}

h2.cardTitle, h3.cardSubtitle {
  text-align: center;
  margin: 0;
}
h3.cardSubtitle {
  padding-bottom: 2vh;
  font-size: 1.5rem;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.projectInfo img {
  height: 25%;
  max-width: 80%;
}


$carte-height: 60vh - $header-height;
$carte-width: $carte-height;
$carte-color: rgba(147, 144, 144, 0.62);

.projectLink {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: $body-color;
}


/* Gestion Cartes */
.conteneurCartes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: inherit;
  margin-bottom: 20px;
}

.conteneurCartes * {
  z-index: 10;
}

.carte {
  position: relative;
  background: rgb(128 128 128 / 0.2);
  border-radius: 20px;
  transition: all ease-in-out 1s;
  padding: 3px;
  overflow: hidden;
}

.inner {
  background-color: $carte-color;
  height: $carte-height;
  width: $carte-width;
  border-radius: 20px;
}

.blob {
  filter: blur(40px);
  position: absolute;
  z-index: -1; /* to keep it at below everything else */
  top: 0; /* to align it at top */
  left: 0; /* to align it at left */
  width: 300px;
  height: 300px;
  border-radius: 50%; /* to make it circular */
  background: rgb(255, 255, 255, 0.5);
}

.fakeblob {
  visibility: hidden;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.conteneurCartes:hover > .carte:hover {
  /*background-color: #4d4d4d;*/
}


/* Mouvement des cartes */
//.conteneurCartes:hover > .carte:nth-last-child(6) {
//  transform: translate(calc(100% + 4px), calc(-50% - 2px));
//}
//.conteneurCartes:hover > .carte:nth-last-child(5) {
//  transform: translate(calc(100% + 4px), calc(50% + 2px)) ;
//}
//.conteneurCartes:hover > .carte:nth-last-child(4) {
//  transform: translate(0, calc(-50% - 2px)) ;
//}
//.conteneurCartes:hover > .carte:nth-last-child(3) {
//  transform: translate(0, calc(50% + 2px)) ;
//}
//.conteneurCartes:hover > .carte:nth-last-child(2) {
//  transform: translate(calc(-100% - 4px), calc(50% + 2px)) ;
//}
//.conteneurCartes:hover > .carte:last-child {
//  transform: translate(calc(-100% - 4px), calc(-50% - 2px)) ;
//}




