
$link-color: #8B8000;
$primary:  #121212;
$primary-alpha: rgba(18, 18, 18, 0.95);
$body-bg:  #121212;
$body-color: #c4c4c4;


$header-height: 10vh;
$footer-height: 30vh;

@import "../bootstrap/scss/bootstrap.scss";

